@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
*,
span,
strong,
body,
html,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.scroll-content {
  margin-top: 56px !important;
    overflow: hidden;
    overflow-y: auto;
}

.text-white {
    color: #fff !important;
}

.bg-white {
    background: #fff !important;
}

.text-dark {
    color: #323232 !important;
}

.text-muted {
    color: #999 !important;
}

.text-danger {
    color: #f12b50 !important;
}

.button {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}

button.back-button {
    color: #fff !important;
}

ion-title {
    line-height: 30px;
}

.nav-menu::after {
    display: none;
}

.transparent {
    .toolbar-background {
        background: transparent;
    }
    &::after {
        display: none;
    }
}

.toolbar-background {
    background: #25262a;
}

.bg-img {
    background: url(../assets/imgs/menubg.png) no-repeat;
    background-position: center;
    background-size: cover;
}

ion-navbar {
    .toolbar-content {
        width: 100% !important;
        ion-title {
            width: calc(100% - 52px) !important;
            img {
                width: 100px;
                top: 2px;
                position: relative;
            }
        }
    }
}

.search {
    float: right;
    position: absolute;
    right: 0px;
    top: 2px;
    font-size: 2rem;
    text-align: center;
    padding: 16px 20px;
}

ion-menu {
    background-image: url(../assets/imgs/menubg.png) !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    .menu-inner,
    .item,
    .toolbar-background {
        background: transparent !important;
        width: 100%;
        ion-content {
            background: rgba(0, 0, 0, 0.6) !important;
            ion-list .item {
                background: transparent !important;
                .item-inner {
                    background: transparent !important;
                    border: none !important;
                }
            }
        }
    }
    ion-backdrop {
        display: none !important;
    }
    .menu-inner {
        box-shadow: none !important;
        -webkit-box-shado: none !important;
    }
    .bottom-icon {
        position: absolute;
        bottom: 1rem;
    }
    .menu-icon {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        &.close {
            width: 20px;
            height: 20px;
            float: right;
        }
    }
    .menu-item {
        ion-list {
            margin-bottom: 0px !important;
            button {
                font-size: 2rem;
                font-weight: 600;
                &.active.text-white {
                    color: #81b441 !important;
                }
            }
        }
        .card {
            margin: 0;
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            background: transparent;
            box-shadow: none;
            ion-avatar {
                border: 5px solid #ccc;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            h1 {
                font-weight: 600;
                font-size: 2.2rem;
            }
        }
    }
}

.close {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 1.5rem;
}

.menu-logo {
    width: 110px;
    display: inline-block;
}

.iocn {
    padding-top: 10px;
    img {
        width: 33px;
        margin-right: 1rem
    }
}

.item-block .item-inner {
    border: none !important;
}
