page-password {
    ion-title.title {
        width: 100% !important;
    }
    .heading-details {
        width: 240px;
        margin: 50px auto 20px;
        margin-bottom: 0;
        h3 {
            font-size: 2rem;
            margin-bottom: 0px;
        }
        p {
            font-size: 1.3rem;
            margin-top: 0;
        }
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
        }
    }
    .form {
        max-width: 240px;
        margin: 0 auto;
        padding-top: 0 !important;
        .item {
            background: none;
            border: none !important;
            padding-left: 0;
            .item-inner {
                border: none !important;
                border-bottom: 1px solid rgba(201, 197, 197, 0.38) !important;
                padding-left: 7px;
            }
        }
        button {
            width: 100%;
            line-height: 4.3rem;
            font-size: 1.6rem;
            font-weight: 500;
            margin-top: 20px;
        }
        p {
            opacity: .7;
        }
    }
}
